//
// (c) ECOLE POLYTECHNIQUE FEDERALE DE LAUSANNE, Switzerland, VPSI, 2017.
// See the LICENSE file for more details.
//


$halloween: #FF9A00
$halloween-dark: #F75F1C
$halloween-light: #FFFFFF

$material-blue: #2196F3
$material-blue-dark: #0D47A1
$material-blue-light: #FFFFFF

$material-pink: #E91E63
$material-pink-dark: #880E4F
$material-pink-light: #FFFFFF

$material-purple: #9C27B0
$material-purple-dark: #4A148C
$material-purple-light: #FFFFFF

$material-deep-purple: #673AB7
$material-deep-purple-dark: #311B92
$material-deep-purple-light: #FFFFFF
