//
// (c) ECOLE POLYTECHNIQUE FEDERALE DE LAUSANNE, Switzerland, VPSI, 2017-2018.
// See the LICENSE file for more details.
//


$halloween: #FF9A00
$halloween-dark: #F75F1C
$halloween-light: #FFFFFF

$material-blue: #2196F3
$material-blue-dark: #0D47A1
$material-blue-light: #FFFFFF

$material-pink: #E91E63
$material-pink-dark: #880E4F
$material-pink-light: #FFFFFF

$material-purple: #9C27B0
$material-purple-dark: #4A148C
$material-purple-light: #FFFFFF

$material-deep-purple: #673AB7
$material-deep-purple-dark: #311B92
$material-deep-purple-light: #FFFFFF

$material-indigo: #3F51B5
$material-indigo-dark: #1A237E
$material-indigo-light: #FFFFFF

$material-red: #F44336
$material-red-dark: #B71C1C
$material-red-light: #FFFFFF

$material-teal: #009688
$material-teal-dark: #004D40
$material-teal-light: #FFFFFF

$material-cyan: #00BCD4
$material-cyan-dark: #006064
$material-cyan-light: #FFFFFF

$material-light-blue: #03A9F4
$material-light-blue-dark: #01579B
$material-light-blue-light: #FFFFFF

$material-green: #4CAF50
$material-green-dark: #1B5E20
$material-green-light: #FFFFFF

$material-blue-grey: #607D8B
$material-blue-grey-dark: #263238
$material-blue-grey-light: #FFFFFF

$material-brown: #795548
$material-brown-dark: #3E2723
$material-brown-light: #FFFFFF

$material-deep-orange: #FF5722
$material-deep-orange-dark: #BF360C
$material-deep-orange-light: #FFFFFF

$material-marine: #406c8c
$material-marine-dark: #355973
$material-marine-light: #FFFFFF
