//
// Original work (c) ECOLE POLYTECHNIQUE FEDERALE DE LAUSANNE, Switzerland, VPSI, 2017-2018.
// Modified work (c) William Belle, 2018.
// See the LICENSE file for more details.
//

$popup-width: 600px
$popup-height: 325px
$card-height: 305px
$left-card-width: 310px
$right-card-width: 250px
$sid-profile-width: 150px
$people-profile-width: 150px
$girl-color: #e91e63
$boy-color: #0277bd
$neutral-color: #a8adb4

body
  margin: 0
  font-size: 12px
  font-family: arial, sans-serif

.clear
  clear: both

.container
  width: $popup-width
  height: $popup-height

.left-card,
.right-card
  height: $card-height
  color: #fff
  padding: 10px
  text-align: center

  span
    display: block

.girl
  .left-card
    background-color: $girl-color
  .right-card
    color: $girl-color

.boy
  .left-card
    background-color: $boy-color
  .right-card
    color: $boy-color

.neutral
  .left-card
    background-color: $neutral-color
  .right-card
    color: $neutral-color

.left-card
  width: $left-card-width
  background-color: $neutral-color
  float: left

.right-card
  width: $right-card-width
  float: right
  color: $neutral-color

  h2
    margin: 0

.sid-profile
  width: $sid-profile-width
  float: left

.people-profile
  width: $people-profile-width
  float: right

.img-profile
  height: 200px
  width: 150px
  overflow: hidden
